html
  head
    include ./includes/bootstrap
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script System.import('app-angular');
    style
      | body { padding-top: 70px; }
    block title
      title Hello world!

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") FSWD
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav.navbar-nav
              a(href='/television') Television
            li.nav.navbar-nav
              a(href='/film') Film
            li.nav.navbar-nav
              a(href='/literature') Literature
            li.nav.navbar-nav
              a(href='/sports') Sports
          form.navbar-form.navbar-left
            .form-group
              input.form-control(type="text", placeholder="Search")
            button.btn.btn-default(type="submit") Search
          if !isAuthenticated()
            ul.nav.navbar-nav.navbar-right
              li.nav.navbar-nav
                a(href='/users/login') Sign In
              li.nav.navbar-nav
                a(href='/users/register') Register
          else
            ul.nav.navbar-nav.navbar-right
              li.nav.navbar-nav
                a(href='/users/logout') Logout
            p.navbar-text.navbar-right
              | Hello #{user.username}
            ul.nav.navbar-nav.navbar-right
              li.nav.navbar-nav
                a(href='/create-blog') Create Post
    .container
      .well
        block body
